:root {
  --ion-color-primary: #0891b2;
  --ion-color-primary-rgb: 8, 145, 178;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #078199;
  --ion-color-primary-tint: #22a0ba;

  --ion-color-secondary: #3b82f6;
  --ion-color-secondary-rgb: 59, 130, 246;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3472d8;
  --ion-color-secondary-tint: #4f92f7;
}